<!-- Page header -->
<div class="bg-image parallax" style="background-image: url(../../assets/images/background.jpg)">
  <div class="page-title bg-black-07 text-center">
    <div class="container">
      <h1 class="font-weight-light">About</h1>
    </div><!-- end container -->
  </div><!-- end page-title -->
</div>

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row align-items-center col-spacing-50">
      <div class="col-12 col-lg-4">
        <img src="/images/about.jpg" alt=""><!-- Image source -->
      </div>
      <div class="col-12 col-lg-8">
        <h6 class="heading-uppercase">Creator</h6>
        <h3>Hello, I'm Ahmed Castro</h3>
        <p>I like the independance and simplicity of shopping with crypto. That's why I created this shop. In 2017 I worked on 3deasy.co, a dogecoin 3d prints shop. It was a great experience, however cocomfy.com focuses and expands on crypto related stuff. I love creating software and usually I'm making videogames and tools. Follow me on <a href="http://github.com/turupawn">Github</a> and <a href="https://www.youtube.com/channel/UC03ZXqiH57F9ac6U7pHDwUA">Youtube</a> if you want to stay up to date with my work.</p>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end About section -->