<div class="bg-image parallax" style="background-image: url(../../assets/images/background.jpg)">
  <div class="page-title bg-black-07 text-center">
    <div class="container">
      <h3><%= Setting.maintenance_header %></h3>
      <p><%= Setting.maintenance_text %></p>
    </div><!-- end container -->
  </div><!-- end page-title -->
</div>

<%= render 'email_subscription/subscription_form' %>