//
// Background Styles //
//
.bg-image {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
    &.bg-image-gradient {
		&:before {
			content: '';
			position: absolute;
			background-image: linear-gradient(to top, $color-white, $color-white-09, $color-white-08, $color-white-07, $color-white-06, $color-white-05, $color-white-04, $color-white-03, $color-white-02, $color-white-01);
			width: 100%;
			height: 100%;
		}
	}
}