<p>
  <strong>Name:</strong>
  <%= @shipping_type.name %>
</p>

<p>
  <strong>Doges per kilo:</strong>
  <%= @shipping_type.doges_per_kilo %>
</p>

<%= link_to 'Edit', edit_shipping_type_path(@shipping_type) %> |
<%= link_to 'Back', shipping_types_path %>
