<div class="payment-detail-box">
  <h5 class="margin-bottom-20">Order totals</h5>
  <ul>
    <li><h6 class="heading-uppercase">Subtotal:</h6><span>Ð<%= @subtotal_doges %></span></li>
    <li><h6 class="heading-uppercase">Shipping:</h6><span>Ð<%= @shipping_doges %></span></li>
    <li><h6 class="heading-uppercase">Total:</h6><span class="text-dark">Ð<%= @total_doges %></span></li>
  </ul>
</div>