//
// Team Styles //
//
.team-wrapper {
	margin-bottom: -50px;

	.team-box, .team-box-circle {
		margin-bottom: 50px;
		text-align: center;
		.team-img {
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			img {
				width: 100%;
				@include transition(ease-out 0.2s);
			}
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 5px;
		}
		span {
			color: $color-primary-lighter;
		}
	}
	.team-box {
		.team-img {
			div {
				position: absolute;
				bottom: 0;
				left: 0;
				@include transform(translateY(100%));
				background: $bg-dark-lighter;
				width: 100%;
				@include transition(ease-out 0.2s);
				ul {
					margin: 0;
					padding: 15px 30px;
					li {
						display: inline-block;
						margin: 0 20px 0 0;
						&:last-child {
							margin: 0;
						}
						a {
							color: $color-white;
							@include transition(linear 0.1s);
							&:hover {
								color: $color-white-07;
							}
						}
					}
				}
			}
			&:hover {
				img {
					@include transform(translateY(-20px));
				}
				div {
					@include transform(translateY(0));
				}
			}
		}
		&.team-box-hover-2 {
			.team-img {
				div {
					position: absolute;
					top: 0;
					left: 0;
					@include transform(translateY(0));
					opacity: 0;
					background: $color-black-07;
					width: 100%;
					height: 100%;
					text-align: center;
					@include transition(ease-out 0.2s);
					ul {
						position: absolute;
						top: 50%;
						right: 0;
						left: 0;
						@include transform(translateY(-50%));
						padding: 0 30px;
						li {
							list-style-type: none;
							display: inline-block;
							margin: 0 16px 0 0;
							&:last-child {
								margin: 0;
							}
							a {
								color: $color-white;
								@include transition(linear 0.1s);
								&:hover {
									color: $color-white-07;
								}
							}
						}
					}
				}
				&:hover {
					img {
						@include transform(scale(1.03) translateY(0));
						@include filter(blur(2px));
					}
					div {
						opacity: 1;
					}
				}
			}
		}
	}
	
	.team-box-circle {
		.team-img {
			display: inline-block;
			z-index: 1;
			width: 140px;
			height: 140px;
			border-radius: 50%;
			div {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				background: $color-black-07;
				width: 100%;
				height: 100%;
				text-align: center;
				@include transition(ease-out 0.2s);
				ul {
					position: absolute;
					top: 50%;
					right: 0;
					left: 0;
					@include transform(translateY(-50%));
					padding: 0 30px;
					li {
						list-style-type: none;
						display: inline-block;
						margin: 0 16px 0 0;
						&:last-child {
							margin: 0;
						}
						a {
							color: $color-white;
							@include transition(linear 0.1s);
							&:hover {
								color: $color-white-07;
							}
						}
					}
				}
			}
			&:hover {
				img {
					@include transform(scale(1.03));
					@include filter(blur(2px));
				}
				div {
					opacity: 1;
				}
			}
		}
		.team-img-xs {
			width: 100px;
			height: 100px;
		}
		.team-img-sm {
			width: 120px;
			height: 120px;
		}
		.team-img-md {
			width: 140px;
			height: 140px;
		}
		.team-img-lg {
			width: 160px;
			height: 160px;
		}
		.team-img-xl {
			width: 180px;
			height: 180px;
		}
	}
}
.text-left {
	.team-box, .team-box-circle {
		text-align: left;
	}
}
.text-right {
	.team-box, .team-box-circle {
		text-align: right;
	}
}	