//
// Testimonial Styles //
//
.testimonial-box {
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
	img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-right: auto;
		margin-left: auto;
	}
}