<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please confirm your cocomfy's email subscription</h1>
    <p>
      Please click on the following <a href="<%= @confirmation_link %>"> confirmation link</a> to confirm your subscription:
      <%= @confirmation_link %>
    </p>

    <p>
    If you did not subscribed to cocomfy.com just ignore this email.
    </p>

    <p>
    cocomfy.com
    </p>
  </body>
</html>