<div class="section">
  <div class="container">
    <div class="row product-wrapper margin-top-50">
      <% @items.each do |item| %>
        <% @item = item %>
        <%= render 'items/item' %>
      <% end %>
    </div>
  </div>
</div>