<header>
<!-- navbar -->
<nav class="navbar navbar-absolute"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <h5>cocomfy.com</h5>
    </a>
    <!-- Nav Toggle button -->
    <button class="nav-toggle-btn">
            <span class="lines"></span>
        </button><!-- toggle button will show when screen resolution is less than 992px -->
  </div><!-- end container -->
</nav><!-- end navbar -->
</header>