<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128645678-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128645678-1');
</script>

<meta charset="utf-8">
<%= display_meta_tags site: 'cocomfy.com' %>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>cocomfy.com - Shop crypto related items.</title>

<!-- Favicon -->
<link href="/images/favicon.png" rel="shortcut icon">

<!-- CSS -->
<link href="/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
<link href="/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
<link href="/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
<link href="/css/app.css" rel="stylesheet">

<!-- Fonts/Icons -->
<link href="/plugins/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
<link href="/plugins/themify/themify-icons.css" rel="stylesheet">


<title>cocomfy.com</title>
<meta name="google-site-verification" content="VavHNQFj-ssq4JFzJX6-zKA0y9k_Hftu68YbCtaqCpo" />
<script src="/js/qrcode.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<style>
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
</style>