<% flash.each do |key, value| %>
  <% alert_type = 'primary' %>
  <% if key == 'notice' %>
    <% alert_type = 'success' %>
  <% elsif key == 'alert' %>
    <% alert_type = 'danger' %>    
  <% else %>
  <% end %>
  <div class="alert alert-<%= alert_type %>" role="alert">
    <%= value %>
  </div>
<% end %>