<!DOCTYPE html>
<html lang="en">
	<head>
    <%= render 'layouts/head' %>
	</head>
  <body data-preloader="2">
    <%= render 'layouts/devise_header' %>
    <%= yield %>
		<%= render 'layouts/javascripts' %>
	</body>
</html>